# VS Code
.vs/
.vscode/
packages/

*.csproj.user
*.vcxproj.user
*.log
*.exe
*.lib
lib*.a
WebView2Loader.dll
!compat/WebView2Loader.dll

CMakeCache.txt
.ninja*
*.ninja
*.cmake

CMakeFiles/
HelloWebView2.exe.WebView2/

Debug/
Release/
x64/
x86/
Win32/
ARM64/

bin/
obj/
